* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: rgb(48, 48, 48);
    color: rgb(209, 209, 209);
}

p, h1 {
    margin-bottom: 10px;
}


.container {
    max-width: 500px;
    margin: 40px auto;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label {
    margin: 10px 0;
}

input {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    font-weight: 500;
    color: #212121;
}

input:focus {
    border-radius: 5px;
    outline: 2px solid blueviolet;
    /* -webkit-border-radius: 5px; */
}

.btnEnviar {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border-style: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btnEnviar:hover {
    background-color: hsl(275, 70%, 60%);
}


.tabela {
    display: flex;
    max-width: 420px;
	margin: 10px auto;
    justify-content: space-between;
}

h2 {
    margin-bottom: 10px;
}

.imc {
    margin: 0 auto;
	padding: 0px;
}

.classificacao {
    margin: 0px 0px 0px 40px;
	padding: 0px;
}

.good-result {
    color: chartreuse;
    /* background-color: #055f35; */
    margin-top: 10px;
    padding: 10px 30px;
    font-weight: 500;
}

.bad-result {
    color: red;
    margin-top: 10px;
    padding: 10px 30px;
    font-weight: 500;
}
